* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    position: fixed;
    z-index: 99;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 4px 8px #0030971f;
}

nav .wrapper {
    position: relative;
    max-width:100%;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .wrapper .wrapper-nav-left{
    display: flex;
}
 
.wrapper .logo a {
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.wrapper .logo img {
    width: 55px;
}

/* .wrapper .nav-links {
    display: inline-flex;
} */
.wrapper .nav-links {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    margin-bottom: 0 !important;
}

.nav-links li {
    list-style: none;

}

.nav-links li a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    color: #003097;
}

.nav-links .mobile-item {
    display: none;
}

.nav-links .drop-menu {
    padding: 0 22px;
    position: absolute;
    width: 180px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
}

.drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}

.desktop-item i {
    transition: all .5s;
}

.nav-links li:hover .desktop-item i {
    transform: rotate(180deg);
    transition: all .5s;
}

.mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
}

.mega-box .content {
    padding: 25px 20px;
    display: flex;
    width: 100%;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.mega-box .content .cmn {
    width: calc(25% - 30px);
    line-height: 45px;
}

.content .cmn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .cmn .drp-head {
    font-size: 20px;
    font-weight: 500;
}

.content .cmn .mega-links {
    padding: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.09);
}

.cmn .mega-links li a {
    font-weight: normal;
    padding: 0px;
    color: #141414;
    padding: 0 20px;
    font-size: 16px;
    display: block;
}

.cmn .mega-links li a:hover {
    color: #003097;
}

.wrapper .btn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.wrapper .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}


nav input {
    display: none;
}

.body-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 0 30px;
}

.body-text div {
    font-size: 45px;
    font-weight: 600;
}